body {
    background:#f9f9f9;
}

#wrapper{
    padding:90px 15px;
}

.navbar-expand-lg .navbar-nav.side-nav{
    flex-direction: column;
}

.header-top{
    box-shadow: 0 3px 5px rgba(0,0,0,.1)
}

.leftmenutrigger{
    display: none
}

.card{margin-bottom: 15px; border-radius:0; box-shadow: 0 3px 5px rgba(0,0,0,.1); }

@media(min-width:992px) {
    .leftmenutrigger{display: block;display: block;margin: 7px 20px 4px 0;cursor: pointer;}
    #wrapper{padding: 90px 15px 15px 15px; }
    .navbar-nav.side-nav.open {left:0;}
    .navbar-nav.side-nav{background: #585f66;box-shadow: 2px 1px 2px rgba(0,0,0,.1);position:fixed;top:56px;flex-direction: column!important;left:-220px;width:200px;overflow-y:auto;bottom:0;overflow-x:hidden;padding-bottom:40px}
}

.animate{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}

.table {
    text-align: center;
}

#titulo_tabla{
    color: #34c0eb;
    text-align: center;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#overlay-content{
  position: absolute;
  display: none; /* Hidden by default */
  text-align: justify;
  padding: 15px 50px;
  background-color: #FFF;
  top: 50%;
  left: 50%;
  border-radius: 7px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.spinner {
    position: absolute;
    text-align: justify;
    top: 50%;
    left: 50%;
}

textarea.info {
    background-color: #f7f7f9 !important;
    resize: none;
    overflow: hidden;
}
